a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}img,video{width:100%;vertical-align:middle;}


/* FONT */

@font-face {
    font-family: 'bebas';
    src: url('../font/bebas-neue/BebasNeue-Thin.otf') format('truetype'),
         url('../font/bebas-neue/BebasNeue-Light.otf') format('truetype'),
         url('../font/bebas-neue/BebasNeue-Regular.otf') format('truetype'),
         url('../font/bebas-neue/BebasNeue-Bold.otf') format('truetype');
 }



/* COULEUR */

:root{
    /* Couleurs (principales) */
    --beige: #F8F3ED;
    --noir:#0D0803;
    --textNoir:#161616;
    --textGris:#AFAFAF;

    /* Couleurs (palette des beiges - plus clair au plus foncé) */
    --beige1: #F8F3ED;
    --beige2: #EBE6D7;
    --beige3: #D1C7A3;
    --beige4: #B2A887;
    --beigeMenu: #EADDBE;
    --beigeLumineux: #FFF0CA;
    --beigeDoree: #C9AB67;

     /* Couleurs (palette des noires) */
     --grisClair: #CCCCCC;
     --grisMoyen: #7C7C7C;
     --noirDore: #1E1C17;
     --imgVide: #44413A;

     /* Autres Couleurs */
     --vert1: #3F4F32;
     
}


/* SCROLL */

/* width */
body::-webkit-scrollbar {
    width:  5px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #b2a88754;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: var(--beigeDoree); 
    
}

body{
    overflow-x: hidden;
}


/* PARAMETRAGE */
.flex{
    display: flex;
}


h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--textNoir);
    font-size: 28px;
    margin-bottom: 76px;
    letter-spacing: 1px;
    margin-top: 50px;
    font-weight: 400;
}

h2 span{
    font-size: 95px;
    line-height: 98px;
    letter-spacing: 4px; 
    text-transform: uppercase;
    
}




/* ----------------------- LA CARTE - DEBUT----------------------- */

.carte_fixe{
    font-family: 'Bebas Neue', sans-serif;
    /* border: 1px solid var(--noirDore); */
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 20px;
    border-radius: 20px;
    /* z-index: 2; */
}

.carte_fixe a{
    text-decoration: none;
    font-size: 18px;
    color: var(--textNoir);
}

/* Animation */

.boxAnim{
    animation: couleur 3s alternate infinite;
}

.boxAnim a{
    animation: couleur 3s alternate infinite;
}

@keyframes couleur{
    0%{
        background-color: var(--beigeDoree);
        color: var(--noirDore);
    }
    50%{
        background-color: white;
        color: var(--noirDore);
    }
    100%{
        background-color: var(--noirDore);
        color: var(--beige);
    }
}

/* MODAL CARTE */

#modal {
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #ebe6d79f;
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal-content {
    position:relative;
    /* width:30%; */
    background:var(--vertFonceMoin);
    padding: 42px;
}

/* .modalTitre {
    color:var(--vertClair);
}

.modal-content p {
    color:var(--vertClair);
    margin:0;
} */

.modal-close {
    display:block;
    position:absolute;
    top:10px;
    right:10px;
    font-size: 35px;
    color: black;
}

#modal:not(:target) {
    opacity:0;
    visibility:hidden;
    transition:0.5s;
}

#modal:target {
    opacity:1;
    visibility:visible;
    transition:0.5s;
}

/* MODAL CARTE - image */
.affiche_carte{
    max-width: 1140px;
    height: auto;
}

/* ----------------------- LA CARTE - FIN----------------------- */

/* ----------------------- NAV - DEBUT----------------------- */

/* nav{
    background-color: var(--beige2);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.burger div{
    background-color: var(--beige4);
    width: 55px;
    height: 1px;
}

.trait2,
.trait3{
    margin-top: 6px;
}

.logo a{
    text-decoration: none;
    color: var(--beige4);
    font-family: 'bebas', sans-serif;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 70px;
} */


/* CODE NAVBAR */
nav{
    border-right: 2px solid var(--beige4);
    width: 104px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

.home{
    transform: rotate(-90deg) translateY(0px) translateX(-400px);
}

.home a{
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: var(--beige4);
}

/* MENU BURGER */
.btn {
    position: fixed;
    left: 6px;
    top: 5px;
    text-decoration: none;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--beigeDoree); */
    /* background: rgb(137,131,228); */
    z-index: 1000;
}

.menuIcon {
    width: 40px;
}

/* MENU LISTE */

.conteneurMenu {
    background-color: var(--beigeMenu);
    /* background: linear-gradient(45deg, rgb(137,131,228), rgb(248,138,138)); */
    height: 100%;
    width: 0;
    position: fixed;
    top:0;
    left:0;
    transform: translateX(104px);
    border-radius: 0 20px 20px 0;
    /* z-index: 1; */
}

.listeMenu {
    padding: 0;
    margin-top: 125px;
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 40px;

}

.listeMenu a {
    text-decoration: none;
}

.MenuListItem {
    position: relative;
    margin-top: 20px;
    list-style-type: none;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-100px)
}

.itemListe {
    display: block;
    /* position: absolute; */
    /* overflow: hidden; */
    /* color: rgb(19,7,71); */
    color: var(--noirDore);
    top: 0;
    /* height: 49%; */
    transition: all 0.8s cubic-bezier(0.16,1.08,0.38,0.98);
    /* font-family: 'bebas', sans-serif; */
    font-family: 'Bebas Neue', sans-serif;

    font-weight: 500;
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 32px;

}

.itemListe span{
    font-family: 'bebas', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--noirDore);
}

/* ----------------------- NAV - FIN----------------------- */


/* ----------------------- HEADER - DEBUT----------------------- */
.img_header {
    background-image: url(../image/header_bokit2.jpg);
    /* width: 100%;
    height: 916px; */
    /* background-position-y: -103px; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_header img{
    width: 1300px;
    padding-left: 104px;
}

/* .img_header p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: var(--vert1);
    padding-top: 30px;
} */

.bg_header{
    width: 104px;
    height: 100vh;
    background-color: var(--beige2);
    position: absolute;
    top: 0;
    left: 0;
}

.navColor{
    width: 104px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: var(--beige2); */
    backdrop-filter: blur(1rem);
    background-color: transparent;
    z-index: 1;
}

/* ANIMATION PHRASE D'ACCROCHE */

.accroche{
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: var(--vert1);
    padding-top: 30px;
}

.animated-text{
    /* color: #fff; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    background: transparent;
    /* background: #2980b9; */
    padding: 0 40px;
    height: 80px;
    overflow: hidden;
}

.line{
    text-transform: uppercase;
    /* text-align: center; */
    /* font-size: 40px; */
    line-height: 80px;
}

.line:first-child{
    animation: anim 12s infinite;
}

@keyframes anim {
    0%{
        margin-top: 0;
    }
    50%{
        margin-top: -80px;
    }
    100%{
        margin-top: -160px;
    }
}


/* ----------------------- HEADER - FIN----------------------- */


/* ----------------------- SECTION 3 - SON HISTOIRE DEBUT----------------------- */

.section3{
    background-color: var(--noirDore);
    width: 100%;
}

/* CONTAINER */
.container_sect3{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 152px;
    max-width: 1600px;
    margin: auto;
    padding: 65px;
}

/* IMAGE */
.sect3_img{
    max-width: 780px;
    height: 830px;
}

.sect3_img img{
    width: auto;
    height: 100%;
}
/* .sect3_img{
    width: 640px;
    height: 830px;
} */

/* TEXTE */

.sect3_txt h2{
    color: white;
    margin-top: 27px;
}

.sect3_txt Blockquote {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 46px;
    color: var(--beigeDoree);
    padding-bottom: 84px;
    line-height: 48px;
}

.sect3_txt Blockquote span{
    font-family: 'bebas', sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}

.sect3_txt p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--beige2);
    line-height: 28px;
}



/* ---------------------------- SECTION 3 - FIN---------------------------- */



/* ---------------------------- SECTION 4 - DEBUT---------------------------- */

.section4{
    background-color: var(--beige2);
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
    z-index: -2;
}

.sect4_img_camion {
    width: 540px;
}

.concept {
    width: 1370px;
    position: absolute;
    left: 8%;
    top: 54px;
    z-index: -1;
}

.container_sect4{
    max-width: 1820px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 193px;
}

.sect4_txt{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--noirDore);
    display: flex;
    flex-direction: column-reverse;
    padding: 0 211px;
    line-height: 28px;
}
/* ---------------------------- SECTION 4 - FIN---------------------------- */


/* ---------------------------- SECTION 5 - DEBUT---------------------------- */

.section5 {
    width: 100%;
    min-height: 770px;
    background-color: white;
    margin-top: 100px;
}

.container_sect5 {
    width: 1190px;
    margin: auto;
    padding-left: 55px;
}

.section5 h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--textNoir);
    font-size: 28px;
    margin-bottom: 76px;
    letter-spacing: 1px;
    margin-top: 50px;
    font-weight: 400;
}

.section5 h2 span{
    font-size: 95px;
    line-height: 98px;
    letter-spacing: 4px; 
    text-transform: uppercase;
    
}


/* LISTE PRINCIPALE - Configuration texte */

.list_menu_principale{
    justify-content: center;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.list_menu_principale a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: var(--textGris);
    margin: 0 10px;
    letter-spacing: 1px;
}

.list_menu_principale a:hover{
    color: var(--noir);
}

/* LISTE PRINCIPALE - CUSTOMISER LE LIEN ACTIF */

/* Couleur initiale */
.bokit-link,
.bowl-link,
.petiteFaim-link,
.boisson-link,
.dessert-link,
.supplement-link{
    color: var(--textGris); /* Couleur de texte par défaut */
}

/* Couleur active */
.bokit-link.activeLink,
.bowl-link.activeLink,
.petiteFaim-link.activeLink,
.boisson-link.activeLink,
.dessert-link.activeLink,
.supplement-link.activeLink {
    color: black; /* Couleur du texte lorsque le lien est actif */
    font-weight: 600;
    font-size: 16px;
}


/* LISTE SECONDAIRE - CUSTOMISER LE LIEN ACTIF */

/* Couleur initiale - btn liste */
#filtre{
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 58px;
}

#filtre a{
    text-decoration: none;
    color: var(--noirDore);
    letter-spacing: 1px;
}

#filtre a:hover{
    color: var(--beige1);
}


/* Liste menu secondaire - icône */

.btnChoix{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* width: 150px; */
    padding: 0 34px;
    height: 44px;
    margin: 0 10px;
    background-color: transparent;
    transition: opacity 0.8s ease;
}

/* Liste menu secondaire - Lien */

.btnChoix:hover{
    background-color: var(--beigeDoree);
}

.active{
    font-size: 20px;
    font-style: italic;
    background-color: var(--noirDore);
    color: var(--beige1);
}

#filtre li .btnChoix.linkActive{
    color: var(--beige1);
    margin: 0;
}


/* CARTE - Container des menus */

/* .carte{
    display: grid;
    grid-template-rows: auto 50px;
} */

/* MENU */

figure{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    grid-template-rows: 275px 55px 60px;
}


#list_bowl figure,
#list_menu figure,
#list_supplement figure,
#list_boisson figure, 
#list_dessert figure{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    grid-template-rows: 275px 24px 60px;
}




figure {
    opacity: 1;
    transition: opacity 0.8s ease; /* Transition de l'opacité pendant 0.5 secondes */
}

figure.hide {
    opacity: 0;
}


/* MENU - Miniature */

.filtre_ingredient {
    width: 1190px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-template-rows: repeat(3, auto);
    

}

.filtre_ingredient figure {
    width: 276px;
    border: 10px solid var(--beige2);
    background-color: var(--beige2);
    border-radius: 22px;
    margin: auto;
    margin-bottom: 20px;
}

/* .filtre_ingredient figure:hover{
    width: 276px;
    border: 10px solid var(--beige2);
    background-color: var(--beige2);
    border-radius: 22px;
} */

.center{
    display: flex;
    justify-content: center;
}

/* .filtre_ingredient figure:hover {
    border: 10px solid red;
} */

.fond_noir {
    width: 100%;
    height: 275px;
    background-color: var(--beige3);
    border-radius: 12px;
    margin-bottom: 20px;
}

.fond_noir img {
    opacity: 0.9;
    border-radius: 12px;
    height: 275px;
}


/* MENU - Texte */
.filtre_ingredient figure h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.filtre_ingredient figure h4 span{
    font-size: 18px;
    font-weight: 400;
}

.filtre_ingredient figure p {
    font-family: 'bebas', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
}

/* 
.filtre_ingredient{
    flex-wrap: wrap;
} */


.asterisque {
    font-family: 'bebas', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #7e7e7e;
}

.asterisque span {
    font-weight: 600;
    color: black;
}

/* .contenant{
    display: grid;
    grid-template-rows: auto 1fr;
} */

/* BOUTON - Carte menu PDF */
.menuPdf {
    text-align: center;
    border: 1px solid var(--noir);
    background-color: var(--noirDore);
    width: 318px;
    padding: 15px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}

.menuPdf a{
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}


.menuPdf:hover {
    background-color: var(--beigeDoree);
}

.menuPdf a:hover{
    color: var(--noirDore);
}


/* ---------------------------- SECTION 5 - FIN---------------------------- */


/* ---------------------------- SECTION 6 - DEBUT---------------------------- */

.section6 {
    background-color: var(--noirDore);
    width: 100%;
    height: 1620px;
    position: relative;
    padding-top: 420px;
    z-index: -1;
}

/* .plante {
    position: absolute;
    top: -80px;
    right: 7%;
    width: 510px;
} */

.plante {
    position: absolute;
    top: -110px;
    right: 7%;
    width: 510px;
}

.localisation {
    position: absolute;
    top: 50px;
    right: 11%;
    padding-left: 11%;
}


/* .container_sect6_global{
    display: grid;
    grid-template-columns: 1fr auto;
} */

/* ZONE IMAGE */
.img_bokit {
    position: absolute;
    top: 238px;
    left: 378px;
    /* width: 405px; */
}


/* ZONE TEXTE */

.container_sect6 {
    display: flex;
    justify-content: end;
    margin-right: 168px;
    margin-top: 120px;
    padding-left: 11%;
}

.sect6_txt{
    text-transform: uppercase;
    z-index: 0;
}

.section6 h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #FFFFFF;
    font-size: 28px;
    margin-bottom: 76px;
    letter-spacing: 1px;
    margin-top: 50px;
    font-weight: 400;
}

.section6 h2 span {
    font-size: 90px;
    line-height: 98px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

/* OUVERTURE & FERMETURE */

.sect6_txt h3{
    font-family: 'Bebas Neue', sans-serif;
    color: var(--beigeDoree);
    font-size: 28px;
    margin-bottom: 20px;
}

.sect6_txt h4{
    font-family: 'Bebas Neue', sans-serif;
    color: #FFFFFF;
    font-size: 45px; 
    margin-bottom: 18px;
}

.adresse{
    font-family: 'bebas', sans-serif;
    color: var(--grisMoyen);
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 40px;
}

.horaire{
    font-family: 'Montserrat', sans-serif;
    color: var(--grisClair);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: 255px 1fr;
}

.jour p{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: var(--grisClair);
    font-size: 18px;
    font-weight: 400;
}

.heure p{
    margin-bottom: 10px;
}

/* ---------------------------- SECTION 6 - FIN ---------------------------- */

/* ---------------------------- SECTION BANDE - DEBUT ---------------------------- */
.container_bande {
    display: flex;
    white-space: nowrap;
    background-color: var(--beigeDoree);
}
  
.list {
    display: flex;
    align-items: top;
    -webkit-animation: loop 20s infinite linear;
    animation: loop 20s infinite linear;
}

.item-txt {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    line-height: 96px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: var(--beige2);
    margin-left: 34px;
}
  
.item-d{
    display: inline;
}
  
.item-dot{
    max-width: 20px;
    max-height: 20px;
    margin: 0 50px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    transform: rotate(45deg) translateY(-16px);
    background-color: var(--beige2);
}
  
@keyframes loop {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* ---------------------------- SECTION BANDE - FIN ---------------------------- */

/* ----------------------- SECTION 7 PRESTATION - DEBUT ----------------------- */
.section7{
    display: grid;
    grid-template-columns: auto 880px;
    height: 965px;

}

.sect7_txt {
    background-color: var(--beige2);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--noirDore);
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16%;
}

.sect7_txt p{
    padding-bottom: 10px;
}

.sect7_img{
    background-image: url(../image/sect7_bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect7_img img{
    width: 500px;
}

/* ---------------------------- SECTION 7 - FIN ---------------------------- */

/* ----------------------- SECTION 8 SERVICE - DEBUT ----------------------- */

.container_sect8 {
    max-width: 1016px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}

.service{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.service_img{
    width: 180px;
    height: 252px;
    background-color: var(--beigeDoree);
    border-radius: 90px;
}

.service_txt{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: var(--noirDore);
    text-align: center;
    padding-top: 15px;
}

/* ICONE */

.service_img{
    display: flex;
    align-items: center;
}

/* ---------------------------- SECTION 8 - FIN ---------------------------- */


/* ----------------------- SECTION 9 - CONTACT - DEBUT ----------------------- */

.section9{
    background-color: var(--beige2);
    width: 100%;
    padding-top: 170px;
    padding-bottom: 50px;
}

.container_sect9{
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    padding-left: 140px;
}

.contact_txt{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--noirDore);
    margin-top: 50px;
}

.contact{
    width: 50%;
}

/* FORMULAIRE */
form{
    width: 40%;
}

::placeholder{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    /* letter-spacing: 1px; */
}

#name_input{
    display: flex;
    justify-content: space-between;
}

.champ_name{
    width: 45%;
}

.champ_basic{
    width: 100%;
}

.input_general{
    height: 65px;
    background-color: var(--beige2);
    border: none;
    border-bottom: 2px solid var(--noirDore);
}

textarea{
    width: 100%;
    background-color: var(--beige2);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid var(--noirDore);
    height: 150px;
    padding-top: 20px;
}

/* FORMULAIRE - BOUTON */

.bouton_form{
    margin-top: 20px;
}

#envoyer,
#reinitialiser{
    background-color: var(--beige2);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    border: none;
    border: 1px solid var(--noirDore);
    cursor: pointer;
    padding: 10px 20px;
}

#envoyer:hover,
#reinitialiser:hover{
    background-color: var(--beigeDoree);
}

#envoyer{
    color: var(--beige2);
    background-color: var(--noirDore);
}

/* ---------------------------- SECTION 9 - FIN ---------------------------- */


/* ---------------------------- FOOTER - DEBUT ---------------------------- */
footer{
    border-top: 1px solid var(--noirDore);
    background-color: var(--beige2);
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
}

.container_footer{
    display: flex;
    justify-content: space-between;
}

footer p a{
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: var(--noirDore);
}

footer p a:hover{
    color: var(--beigeDoree);
}

footer p{
    padding-left: 104px;
}

/* RESEAUX SOCIAUX */
.reseaux{
    display: flex;
}

.reseaux_icone a{
    text-decoration: none;
    color: var(--noirDore);
}

.reseaux_icone a:hover{
    color: var(--beigeDoree);
}

.fa-facebook-f:before {
    content: "\f39e";
    font-size: 21px;
}

.fa-instagram:before {
    content: "\f16d";
    font-size: 25px;
    padding-left: 10px;
}

.fa-snapchat:before {
    content: "\f2ab";
    font-size: 25px;
    padding-left: 10px;
}
/* ---------------------------- FOOTER - FIN ---------------------------- */


/* ---------------------- SECTION - MENTIONS LEGALES - DEBUT ---------------------- */


.grid_mention{
    grid-area: gauche;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 90px;
}


/* PARTIE TEXTE */
.sect_mention h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--textNoir);
    font-size: 28px;
    margin-bottom: 56px;
    letter-spacing: 1px;
    margin-top: 25px;
    font-weight: 400;
}

.sect_mention {
    background-color: var(--beige2);
    padding: 20px 250px;
    min-height: 100vh;
}

.txt_mention{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 19px;
}

.txt_mention span{
    text-transform: lowercase;
    line-height: 34px;
    font-weight: 600;
}

/* ----------------------- SECTION - MENTIONS LEGALES - FIN ----------------------- */



/* ----------------------- MEDIA QUERY - DEBUT ----------------------- */


/* ----------------------(max-width:1600px) - DEBUT ---------------------- */

@media screen and (max-width:1600px) {

    /* --- SECTION - (max-width:1600px) --- */

    /* --- HEADER - (max-width:1600px) --- */
    .img_header img {
        width: 950px;
    }
    
    /* --- SECTION 3 MON HISTOIRE - (max-width:1600px)--- */
    .sect3_txt Blockquote {
        font-size: 43px;
        padding-bottom: 54px;
    }

    .container_sect3 {
        grid-gap: 128px;
    }

    /* --- SECTION 4 CONCEPT - (max-width:1600px) --- */
    .concept {
        width: 980px;
        padding-left: 32px;
    }

    /* --- SECTION 6 LOCALISATION - (max-width:1600px)--- */
    .plante {
        display: none;
    }

    .img_bokit {
        top: 220px;
    }

    /* --- SECTION 7 SERVICES - (max-width:1600px)--- */
    .section7 {
        grid-template-columns: auto 560px;
        height: 835px;
    }
    
    .sect7_img img {
        width: 382px;
    }
}




/* ----------(max-width:1400px) - DEBUT ---------- */

@media screen and (max-width:1400px) {

    /* ------------------ SECTION - (max-width:1400px) ------------------ */

    /* --- NAV - (max-width:1400px) --- */
    
    nav {
        border-right: none;
        border-bottom: 2px solid var(--beige4);
        width: 100%;
        height: 104px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .home {
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }
    
    .navColor {
        width: 100%;
        height: 104px;
        backdrop-filter: blur(0.5rem);
        background-color: transparent;
    }
    
    .conteneurMenu {
        transform: translateX(0px);
    }
    
    /* --- HEADER - (max-width:1400px) --- */
    
    .carte_fixe {
        z-index: 2;
    }

    .img_header img {
       padding: 0;
    }

    .bg_header{
        display: none;
    }

    /* --- SECTION 3 MON HISTOIRE - (max-width:1400px) --- */
    .container_sect3 {
        grid-template-columns: 1fr;
        max-width: 1002px;
        padding: 6%;
        grid-gap: 34px;
    }

    .sect3_txt h2 {
        margin-top: 50px;
    }

    .sect3_img {
        width: 100%;
    }

    /* --- SECTION 4 CONCEPT- (max-width:1400px) --- */

    
    .container_sect4 {
        max-width: 800px;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        margin-top: 250px;
    }
    
    .sect4_txt {
        padding: 0 48px;
    }
    
    .sect4_img_camion {
        width: 80%;
        margin: auto;
    }
    
    .concept {
        padding-left: 80px;
    }

    /* --- SECTION 5 CARTE - (max-width:1400px) --- */
    .section5 h2 {
        margin-left: 20px;
    }

    .filtre_ingredient {
        width: 930px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .container_sect5 {
        padding-left: 0px;
    }
    

    /* --- SECTION 6 LOCALISATION - (max-width:1400px)--- */

    .img_bokit {
        top: 172px;
    }

    /* --- SECTION 7 PRESTATION - (max-width:1400px)--- */
    .section7 {
        grid-template-columns: auto 50%;
        height: 812px;
    }

    .sect7_img img {
        width: 414px;
    }

     /* --- CONTACT - (max-width:1400px)--- */
     .container_sect9 {
        padding-left: 0px;
    }

    .container_sect9 {
        padding: 0 30px;
    }

    /* --- SECTION - MENTIONS LEGALES - (max-width:1400px) --- */
    .sect_mention {
        padding-top: 110px;
    }


}


/* ----------(max-width:1210px) - DEBUT ---------- */
@media screen and (max-width:1210px) {

    /* --- SECTION - (max-width:1210px) --- */

    
    /* --- HEADER - (max-width:1210px)--- */
    .img_header img {
        width: 870px;
    }

    /* --- SECTION 3 SECTION 3 MON HISTOIRE - (max-width:1210px)--- */

    .container_sect3 {
        max-width: 965px;
    }

    /* --- SECTION 4 CONCEPT- (max-width:1210px) --- */
    .concept {
        width: 885px;
    }
    
    /* --- SECTION 5 CARTE- (max-width:1210px) --- */
    
    .container_sect5 {
        width: 100%;
        padding: 0;
    }

    .section5 h2 {
        margin-left: 56px;
    }

    .container_asterisque{
        padding-left: 56px;
    }

    .filtre_ingredient {
        max-width: 850px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    /* --- SECTION 6 LOCALISATION- (max-width:1210px)--- */

    .section6 {
        height: 1720px;
    }

    /* --- SECTION 7 PRESTATION - (max-width:1210px)--- */
    
    .section7 {
        grid-template-columns: 1fr;
        height: 1446px;
    }
    
    .sect7_img img {
        width: 464px;
    }
    
    /* --- SECTION 9 CONTACT - (max-width:1210px)--- */
    .container_sect9 {
        display: block;
    }

    .contact {
        width: 100%;
        margin-bottom: 100px;
    }

    form{
        width: 90%;
        margin-top: 100px;
        margin: auto;
    }


    /* --- SECTION - MENTIONS LEGALES - (max-width:1210px) --- */

    .sect_mention {
        padding: 20px 105px;
        padding-top: 108px;
        padding-left: 170px;
    }
    
}


/* -----------------------(max-width:980px) - DEBUT ----------------------- */

@media screen and (max-width:980px) {

    /* --- SECTION - (max-width:980px) --- */

    


    /* --- HEADER - (max-width:980px)--- */
    .img_header img {
        padding: 0 52px;
    }


    .img_header img {
        width: 770px;
    }

    .accroche {
        font-size: 46px;
    }


    /* --- SECTION 3 MON HISTOIRE - (max-width:980px)--- */

    /* --- SECTION 4 CONCEPT- (max-width:980px) --- */
    .concept {
        width: 581px;
    }

    .container_sect4 {
        margin-top: 192px;
    }

    .section4 {
        padding-left: 0px;
    }

    .concept {
        padding-left: 0px;
    }
    
    /* --- SECTION 5 CARTE- (max-width:980px) --- */


    .bokit-link.activeLink, .bowl-link.activeLink, .petiteFaim-link.activeLink, .boisson-link.activeLink, .dessert-link.activeLink, .supplement-link.activeLink {
        font-size: 15px;
    }

    #filtre {
        font-size: 15px;
    }

    .filtre_ingredient {
        width: 610px;
        grid-template-columns: repeat(2, 1fr);
    }

    .btnChoix {
        padding: 0 26px;
    }

    .container_sect5 {
        padding-left: 0px;
    }
    
    /* --- SECTION 6 LOCALISATION - (max-width:980px)--- */

    .section6 {
        height: 1702px;
    }

    .img_bokit {
        left: 20%;
        padding-right: 20%;
        top: 210px;
    }

    .container_sect6 {
        margin-right: 6px;
        margin-top: 120px;
    }

    /* --- SECTION 8 SERVICE - (max-width:980px)--- */
    .container_sect8 {
        grid-template-columns: repeat(2, 1fr);
        max-width: 640px;
        grid-gap: 60px;
    }

    /* --- SECTION - MENTIONS LEGALES - (max-width:980px) --- */
    .container_mentionsLegales{
        position: static;
    }

    .sect_mention {
        padding: 20px 50px;
    }

    .grid_mention{
        grid-gap: 50px;
    }

    .sect_mention h2 span {
        font-size: 84px;
    }

    .sect_mention {
        padding-top: 108px;
        padding-left: 40px;
        padding-right: 20px;
    }

}



/* -----------------------(max-width:700px) - DEBUT ----------------------- */

@media screen and (max-width:700px) {

    /* --- SECTION - (max-width:700px) --- */

    /* --- GENERAL- (max-width:700px) --- */
    h2 {
        font-size: 28px;
        margin-bottom: 40px;
    }
    
    /* --- SECTION 3 MON HISTOIRE - (max-width:700px)--- */
    .sect3_img {
        height: 470px;
    }

    /* --- SECTION 4 CONCEPT- (max-width:700px) --- */
    .container_sect4 {
        margin-top: 125px;
    }

    .concept {
        width: 401px;
    }
    
    /* --- SECTION 5 CARTE- (max-width:700px) --- */

    .section5 {
        min-height: 685px;
    }

    .section5 h2 {
        margin-bottom: 43px;
    }

    #filtre {
        margin-top: 30px;
        justify-content: start;
    }

    .filtre_ingredient {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    figure {
        grid-template-rows: auto 55px 60px;
    }

    .filtre_ingredient figure {
        width: 90%;
        /* margin-bottom: 65px; */
        border: 10px solid var(--beige2);
        background-color: var(--beige2);
        border-radius: 22px;
    }
    
    .filtre_ingredient figure:hover {
        width: 90%;
    }

    .fond_noir {
        height: 100%;
    }
    

    .fond_noir img {
        height: 100%;
    }

    .list_menu_principale.flex{
        display: block;
        /* display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 30px 30px;
        grid-gap: 2px; */
        text-align: center;
    }

    .list_menu_principale {
        margin-bottom: 50px;
        width: 75%;
        margin: auto;
    }

    .list_menu_principale a {
        line-height: 29px;
    }

    #list_menu_secondaire {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 420px;
        margin: auto;
        height: 100px;
        margin-bottom: 50px;
    }


    /* width */
    #list_menu_secondaire::-webkit-scrollbar {
        height: 2px;
    }
    
    /* Track */
    #list_menu_secondaire::-webkit-scrollbar-track {
        background: #b2a88754;
    }
    
    /* Handle */
    #list_menu_secondaire::-webkit-scrollbar-thumb {
        background: var(--beigeDoree); 
        
    }



    
    /* --- SECTION 6 LOCALISATION - (max-width:700px)--- */
    .section6 h2 span {
        font-size: 72px;
        line-height: 70px;
    }

    .section6 {
        height: 1710px;
    }

    .container_sect6 {
        padding-left: 5%;
    }

    .horaire {
        grid-template-columns: 140px 1fr;
    }

    
    .adresse .a_la_ligne{
        display: none;
    }

    /* --- SECTION 7 PRESTATION - (max-width:700px)--- */
    .sect7_img img {
        width: 332px;
    }

    .sect7_txt {
        padding: 0 8%;
    }

    /* --- SECTION 8 SERVICE - (max-width:700px)--- */
    .contact_txt {
        display: block;
    }

    .sect9_phone{
        margin-top: 25px;
    }

    /* --- SECTION - MENTIONS LEGALES - (max-width:700px) --- */

    
    .grid_mention{
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .sect_mention h2 span {
        font-size: 73px;
    }

    .sect_mention h2 span {
        font-size: 83px;
        line-height: 80px;
    }

}




/* -----------------------(max-width:500px) - DEBUT ----------------------- */

@media screen and (max-width:500px) {

    /* --- SECTION - (max-width:500px) --- */

    /* --- SECTION 3 MON HISTOIRE - (max-width:500px)--- */
    .concept {
        width: 406px;
    }

    /* --- SECTION 4 CONCEPT- (max-width:500px) --- */
    .concept {
        width: 322px;
    }
    
    /* --- SECTION 5 CARTE- (max-width:500px) --- */
    
    .section5 h2 {
        margin-left: 28px;
    }

    .menuPdf {
        width: 285px;
    }

    .container_asterisque{
        padding: 7%;
    }

    .list_menu_principale {
        width: 100%;
    }

    #list_menu_secondaire {
        margin-top: 10px;
        margin-bottom: 22px;
        width: 302px;
    }

    .asterisque {
        line-height: 33px;
    }
    
    /* --- SECTION 6 LOCALISATION - (max-width:500px)--- */
    .img_bokit {
        left: 4%;
        width: 90%;
    }

    .section6 h2 {
        margin-top: 83px;
    }

    .section6 h2 span {
        font-size: 52px;
        line-height: 56px;
    }
    
    .container_sect6 {
        padding-left: 6%;
    }

    .horaire {
        font-size: 14px;
        grid-template-columns: 106px 1fr;
    }

    .adresse {
        line-height: 42px;
        letter-spacing: 2px;
    }

    .adresse {
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 2px;
    }

    .jour p {
        font-size: 14px;
    }

    .img_bokit {
        padding-right: 1%;
    }

    /* --- SECTION 8 SERVICE - (max-width:500px)--- */
    .container_sect8 {
        grid-template-columns: repeat(1, 1fr);
        max-width: 640px;
    }

}



